div, p {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0; 
  height: 100%; 
  overflow: hidden
}

body {
  height: 100%;
  padding: 0 12%;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

#background-image {
  height: 100%;
  width: 100%;
  background: no-repeat center fixed;
  background-size: cover;
}

#time {
  position:absolute;
  left:50%;
  top:50%;
  width:400px;
  height:100px;
  margin-left:-200px;
  margin-top:-50px;
  font-size: 60px;
  color: white;
  opacity: 0.9;
}

.container {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 95%;
  left: 15px;
  color: white;
}

#nameUrl {
  padding: 5px;
}

a {
  color: white;
}

.camera {
  height: 20px;
  width: 20px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}